*{
    font-family: Helvetica, Arial, sans-serif;
}

.blu{
    background-color: blue;
    height: 80px;
}

h1{
    color: blue;
    height: 40px;
}

.grigio{
    background-color: gray;
}
header{
    height: 120px;
}

.bianco{
    background-color: white;
}

.bianco i{
    font-size: 30px;
}

.test{
    height: 600px;
}

#icons{
    height:100%;
}
