*{
    font-family: Helvetica, Arial, sans-serif;
}

.blu{
    background-color: blue;
    height: 80px;
}

h1{
    color: blue;
}

.grigio{
    background-color: gray;
}


.bianco{
    background-color: white;
    font-size: 30px;
}
